<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Nexora{% endblock %}
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo.png') }}">
</head>

<body>

    <header>
        {% block header %}
        {% endblock %}
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer class="footer">
        <p class="direitos">© 2026 Nexora. Todos os direitos reservados.</p>
        <p class="direitos">Projeto desenvolvido para fins educacionais.</p>
    </footer>

    <script src="{{ url_for('static' , filename='js/main.js') }}" defer></script>

</body>

</html>