<!DOCTYPE html>

<html lang="pt-br">
    <head>
        <title>Nexora | Cursos Online </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="icon" type="image/png" href="../static/images/logo.png">
    </head>

    <body>
        <header class="header">
            <img src="../static/images/logo.png" class="logo" alt="logo">
            <h1 class="bordao">Aprenda. Evolua. Conquiste.</h1>
        </header>

        <main>
            <article class="quem">
                <h2>Quem somos?</h2>
                <p class="texto">A Nexora é uma plataforma de educação online criada para conectar você ao conhecimento. Oferecemos cursos práticos e acessíveis para ajudar você a desenvolver novas habilidades, ampliar seus conhecimentos e transformar aprendizado em novas oportunidades.</p>
            </article>
        </main>
    </body>
</html>