{% extends "base.html" %}

{% block title %} Nexora | Cursos Online {% endblock %}

{% block header %}

    <img src="{{ url_for('static', filename='images/logo.png') }}" class="logo" alt="logo">
    <h1 class="bordao">Aprenda. Evolua. Conquiste.</h1>

{% endblock %}

{% block content %}

    <article class="quem">
        <h2 class="quemsomos">Quem somos?</h2>
        <p class="texto">A Nexora é uma plataforma de educação online criada para conectar você ao conhecimento. Oferecemos cursos práticos e acessíveis para ajudar você a desenvolver novas habilidades, ampliar seus conhecimentos e transformar aprendizado em novas oportunidades.</p>
    </article>

    <nav class="auth">
        <h2 class="saudar">Faça parte da Nexora:</h2>
        <a class="entrar" href="{{ url_for('login') }}">Entrar</a>
        <a class="criar" href="{{ url_for('cadastro') }}">Criar Conta</a>
    </nav>

{% endblock %}