{% extends "base.html" %}

{% block title %} Nexora | Login {% endblock %}

{% block header %}

    <h1 class="titulo">Nexora - Login</h1>

{% endblock %}

{% block content %}

    <section class="autenticar">
        <form>
            <label for="usuario">Nome de Usuário:</label>
            <input type="text" class="cadastro">
            <label for="senha">Senha:</label>
            <input type="text" class="cadastro">
            <input id="signin" type="submit" value="Sign In">
            <p>Não tem uma conta? <a href="{{ url_for('cadastro') }}">Crie uma!</a></p>
        </form>
    </section>

{% endblock %}